@import '../../styles/variables';
.containerWrapper {
  max-width: 1080px;
  height: 480px;
  background: linear-gradient(#767DDC, #9742B7);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 14px;
}
.imageTop {
    position: absolute;
    bottom: 0px;
    right: -45px;
}
.twoColumnsLanding {
  position: relative;
  margin: 0 auto;
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  h1 {
    font-family: LotaGrotesqueAlt2-Black, sans-serif;
    font-size: 50px;
    color: #ffffff;
  }
  p {
    font-family: LotaGrotesqueAlt2-Regular, sans-serif;
    font-size: 20px;
    margin: 20px 0;
    line-height: 24px;
  }
  .buttonWrapper {
    display: flex;
    > div {
      margin-right: 5px;
    }
  }
}
.contentTopLanding{
  width: 50%;
}
.bottomContent {
  margin-top: 50px;
  h2 {
    font-family: LotaGrotesqueAlt2-Black, sans-serif;
    font-size: 36px;
    color: #7B74D6;
  }
  p{
    font-family: LotaGrotesqueAlt2-Regular, sans-serif;
    font-size: 16px;
    color: $text-grey;
  }
}
@media screen and (max-width: 780px) {
  .twoColumnsLanding {
    flex-direction: column;
  }
}
