@import '../../styles/fonts';

.eventsWrapper {
  width: 700px;
  margin: 0 auto;
  div:first-child {
    margin-top: 105px;
    margin-bottom: 53px;
  }
  h3 {
    font-size: 16px;
    font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 875px) {
  .eventsWrapper {
    width: 100%;
    div:first-child {
      margin-top: 40px;
      margin-bottom: 45px;
    }
    h3 {
      margin-bottom: 16px;
    }
  }
}
