@import "./fonts";
@import "./variables";

.ant-progress-circle .ant-progress-circle-trail {
  stroke: #5865d2 !important;
}

.ant-progress-text {
  color: #ffffff !important;
  font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
}

// progress
.percentBlock-small {
  display: none;
  position: absolute;
  right: 35px;
  top: calc(100% - 130px);

  .ant-progress-circle .ant-progress-circle-trail {
    stroke: rgba(106, 117, 233, 0.14688) !important;
  }

  .ant-progress-text {
    color: #5865d2 !important;
    font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
  }
}

.percentBlock {
  display: block;
  position: absolute;
  right: 35px;
  top: calc(100% - 150px);

  .ant-progress-circle .ant-progress-circle-trail {
    stroke: rgba(106, 117, 233, 0.14688) !important;
  }

  .ant-progress-text {
    color: #5865d2 !important;
    font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
  }
}

.ant-layout {
  background-color: #f7f8fc;
}

// modal
.modalCourse {
  .ant-modal-content {
    display: flex !important;
    justify-content: center;
    top: 20vh;
  }
  .ant-modal-header {
    display: none;
  }

  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-modal-body {
    width: 430px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 8px;

    h3 {
      font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
      font-size: 16px;
      margin-top: 60px;
      margin-bottom: 50px;
    }

    input {
      height: 40px;
      width: 345px;
      border: 1px solid #F3F3F8;
      box-sizing: border-box;
      border-radius: 20px;
      text-align: center;
      font-family: 'LotaGrotesqueAlt2-Regular', serif;
    }

    button {
      background: linear-gradient(7.16deg, #8D8EEB 1.9%, #6270E9 94.79%);
      height: 40px;
      width: 345px;
      border-radius: 20px;
      text-align: center;
      color: #ffffff;
      border: none;
      margin-top: 10px;
      font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
      font-size: 16px;
    }
  }
}

.modalCommunity {
  .ant-modal-content {
    display: flex !important;
    justify-content: center;
    top: 20vh;
  }
  .ant-modal-header {
    display: none;
  }

  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-modal-body {
    max-width: 800px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #F7F8FC;
    h3 {
      font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
      font-size: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input {
      height: 33px;
      width: 200px;
      border: 1px solid #F3F3F8;
      box-sizing: border-box;
      border-radius: 20px;
      font-family: 'LotaGrotesqueAlt2-Regular', serif;
    }
  }
}

.ant-tabs-nav .ant-tabs-tab {
  font-family: 'LotaGrotesqueAlt2-Regular', serif;
  font-size: 16px;
  color: #9D9DA7;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: #21233A;
}


//select
.selectContainer, .sortByContainer, .selectTop {
  .ant-select-selection {
    border: none;
    background-color: #f7f8fc;
    font-family: 'LotaGrotesqueAlt2-Regular', serif;
    font-size: 16px;
    color: $title-color;

    &:active {
      outline: none;
    }

    :focus {
      outline: none;
    }
  }

  .ant-select-arrow {
    color: $title-color;
  }

  .ant-select-arrow .ant-select-arrow-icon img {
    transition: transform 0.1s, -webkit-transform 0.1s;
  }

  .ant-select.ant-select-open.ant-select-focused.ant-select-enabled .anticon.ant-select-arrow-icon img {
    transform: rotate(180deg);
  }
}
.selectTop.ant-select.ant-select-open.ant-select-focused.ant-select-enabled .anticon.ant-select-arrow-icon img {
  transform: rotate(180deg);
}
.sortByContainer, .selectTop {
  .ant-select-selection {
    font-size: 13px;
  }
}
.sortByContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-select-selection {
    background-color: #fff;
  }
  .ant-select-arrow {
    color: red;
  }
  .ant-select-arrow .ant-select-arrow-icon img {
    position: relative;
    left: 5px;
    bottom: 3px;
  }
}

// upload
.ant-upload.ant-upload-select-picture-card {
  border-radius: 50%;
  border: none;

  //img {
  //  border-radius: 50%;
  //}
}

@media screen and (max-width: 875px) {
  .ant-layout-content {
    margin: 0 5px;
  }
  .selectContainer {
    position: absolute;
    top: 177px;
  }
}

@media screen and (max-width: 555px) {
  .ant-popover.ant-popover-placement-bottom {
    width: 100% !important;
  }
  .percentBlock-small {
    display: block;
  }
  .percentBlock {
    display: none;
  }
  //modal
  .modalCourse {

    .ant-modal-body {
      width: 100%;

      input {

        width: 290px;
      }

      button {

        width: 290px;

      }
    }
  }
}
// dropdown community
.selectTop {
  .ant-select-selection.ant-select-selection--single {
    background-color: #CACDD7;
    font-family: LotaGrotesqueAlt2-SemiBold, sans-serif;
    border-top-right-radius: 16px!important;
    border-bottom-right-radius: 16px!important;
    border: 1px;
  }
}
.rightTop {
  .ant-select-selection.ant-select-selection--single {
    font-family: LotaGrotesqueAlt2-SemiBold, sans-serif;
    border: none;
    position: relative;
    top: 2px;
  }
}
.form-community {
  .ant-form-item {
    margin-bottom: 20px;
    .ant-form-item-label {
      line-height: 1.5;
    }
  }
  .ant-upload.ant-upload-select-picture-card {
    background-color: #5276F8;
  }
  .ant-switch-checked {
    background-color: #5276F8;
  }
}
.rightTopModal {
  .ant-select-selection.ant-select-selection--single {
    font-family: LotaGrotesqueAlt2-SemiBold, sans-serif;
    border: none;
    background-color: transparent;
  }
}
