// here we can add variables
// to be easy to change it in one place for all

$primary-color: #06062e; // primary color for all components
$title-color: #212438;
$button-color: #5379F0;
$grey-color: #9D9DA7;
$text-grey: #696D80;
