@import "../../../../styles/variables";

.workshopWrapper {
  height: 335px;
  background-color: #1C1C24;
  width: 100%;
  color: #ffffff;
  padding: 18px 0;
  margin-bottom: 50px;

  .goB {
    font-size: 18px;
    font-family: LotaGrotesqueAlt2-SemiBold, sans-serif;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin-right: 10px;
    }
  }

  h2 {
    font-family: LotaGrotesqueAlt2-Black, sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
  }
}

.bgc {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.topContainer {
  display: flex;
  align-items: center;
}

.topDetailsWrapper {
  margin-left: 80px;

  p {
    margin-bottom: 10px;
  }
}

.buttonCyrcle {
  cursor: pointer;
  width: 190px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  font-size: 14px;
  line-height: 18px;
  font-family: 'LotaGrotesqueAlt2-SemiBold', serif;
  color: #ffffff;
  background-color: $button-color;
}

.workshopItemsWrapper {
  margin: 0 auto 10px;
  cursor: pointer;
  width: 940px;
  background-color: #Ffff;
  padding: 28px;
  height: 110px;
  display: flex;
  border-radius: 8px;
  align-items: center;

  h3 {
    font-family: LotaGrotesqueAlt2-SemiBold, sans-serif;
    font-size: 16px;
  }

  p {
    font-family: LotaGrotesqueAlt2-Regular, sans-serif;
  }

  .itemDetails {
    margin-left: 18px;
    width: 90%;
  }

  i {
    margin-left: auto;
    cursor: pointer
  }

  .imgWrapper {
    width: 8%;
  }
}

// Section
.sectionTopContainer {
  background-color: #1C1C24;
  height: 210px;

  .sectionTopWrapper {
    width: 940px;
    color: #ffffff;
    margin: 0 auto;
  }

  .sectionTopContent {
    width: 93%;
    margin: 20px auto 0;
    display: flex;
    align-items: center;

    img {
      width: 85px;
      height: 85px;
    }

    h3 {
      font-family: LotaGrotesqueAlt2-Black, sans-serif;
      font-size: 30px;
      color: #ffffff;
    }

    p {
      font-family: LotaGrotesqueAlt2-Regular, sans-serif;
      font-size: 30px;
    }

    .sectionText {
      margin-left: 30px;
    }
  }

  .goB {
    font-size: 18px;
    font-family: LotaGrotesqueAlt2-SemiBold, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 18px;

    img {
      margin-right: 10px;
    }
  }
}

// section detailed
.sectionDetailed {
  width: 940px;
  margin: 0 auto;
  position: relative;
  top: -35px;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
}

.buttonWrapper {
  padding-top: 17px;
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 11px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    line-height: 20px;
    letter-spacing: 0.1375px;
    color: #212438;
    border: 1px solid #DDDFE4;
    border-radius: 4px
  }

  .buttonFull {
    color: #ffffff;
    border: none;
    background-color: #5379F0;
  }
}

.longTextClass{
  --primary-color: #06062e;
  --title-color: #212438;
  --button-color: #5379F0;
  --grey-color: #9D9DA7;
  --text-grey: #696D80;
}

.longTextClass {
  font-family: 'LotaGrotesqueAlt2-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-grey);


  strong {
    font-size: 20px;
    color: var(--primary-color);
    display: block;

  }

  p strong {
    padding-top: 20px;
  }

  li {
    background: #F7F8FC;
    padding: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    border-radius: 8px;
    margin-bottom: 8px;
    list-style: none;
  }

  table {


  }

  td {
    background: #F7F8FC;
    margin: 2px;
    padding: 5px;
    border: 3px #fff solid;
    border-radius: 8px;
  }

  td strong {
    font-size: 14px;
    font-weight: 100;
  }

  em {
    font-style: normal;
  }

  h4 {
    color: var(--primary-color)
  }

  img {
    max-width: 100%;
  }

  ol {
    padding: 0;
  }

  ul {
    padding: 0;
  }

  table td {
    background: #fff;
    border: 2px solid #F7F8FC;
    border-radius: 0px;
    padding: 10px;
  }

  .soccerball {
    width: 200px;
    display: block;
  }

  a {
    color: #5379F0;
  }

  hr {
    border: 1px solid #F7F8FC;
  }
}
.sectionDescription {
  h3 {
    font-family: LotaGrotesqueAlt2-Black, sans-serif;
    font-size: 30px;
    margin-bottom: 45px;
  }

  p {
    font-family: LotaGrotesqueAlt2-Regular, sans-serif;
    font-size: 18px;
    color: #696D80;
    line-height: 25px;
  }
}

.moreDetails {
  margin-top: 41px;

  h2 {
    font-size: 20px;
    font-family: LotaGrotesqueAlt2-SemiBold, sans-serif;
  }
}

.textFragmentComponent {
  height: 100%;
  background-color: #F7F8FC;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;

  p {
    font-family: LotaGrotesqueAlt2-Regular, sans-serif;
    font-size: 16px;
    color: #696D80;
  }
}

.titleDetails {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  h2 {
    margin-left: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .bgc {
    width: 100%;
  }
  .workshopItemsWrapper {
    width: auto;
    .imgWrapper {
      width: auto;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  .sectionDetailed {
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .workshopWrapper {
    height: auto;
  }
}
@media screen and (max-width: 625px) {
  .workshopWrapper {
    height: auto;
  }
  .topContainer {
    flex-direction: column;
  }
}
